@import './markdown.css';
@tailwind base;
@tailwind components;

body {
  @apply text-gray-900;
}

.container {
  @apply max-w-screen-lg mx-auto p-5 pt-0 pb-24;
}

.bg-blur {
  backdrop-filter: blur(4px);
  /* -webkit-backdrop-filter: blur(2px); */
}

.landing-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    168deg,
    #ffffff 25%,
    rgba(255, 255, 255, 0) 85%
  );
  @screen md {
    height: 0;
  }
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@tailwind utilities;
